{{#md-card}}
  {{#md-card-content}}
    <div class="row">
      <div class="search">
        <i class="material-icons">search</i>
        <input type="text" oninput= {{perform containerList value="target.value"}} placeholder="Search" />
      </div>
    </div>

    <div class="container">
      {{#if containerList.isRunning}}
        {{md-loader mode="circular" size=small}}
      {{else}}
        {{#if containerList.lastSuccessful.value}}
          <label>To add items from the list to your docker-compose file simply drag and drop them into the text field.</label>
          {{#md-collection content=containerList.lastSuccessful.value class="container-search-results" as |element|}}
            {{#draggable-object content=element.item}}
              <div class="result-element">
                {{#if (eq element.type 'container-group')}}
                  <div class="container-group-result-element">
                    {{container-group-component model = element.item}}
                  </div>
                  {{else if (eq element.type 'container-item')}}
                  <div class="container-result-element">
                    <span class='title'>{{container-component model = element.item}}</span>
                  </div>
                {{/if}}
              </div>
            {{/draggable-object}}
          {{/md-collection}}

        {{else}}
          No containers to show
        {{/if}}
      {{/if}}
    </div>

  {{/md-card-content}}
{{/md-card}}
