{{#md-card}}
  {{#md-card-content}}
    <div class="row">
      <div class="search">
        <i class="material-icons">search</i>
        <input type="text" oninput= {{perform containerList value="target.value"}} placeholder="Search" />
      </div>
    </div>

      {{#if containerList.isRunning}}
        {{md-loader mode="circular" size=small}}
      {{else}}
        {{#if containerList.lastSuccessful.value}}
          <label>To add items from the list to your docker-compose file simply drag and drop them into the text field.</label>
          <div class="container-search-results">
            {{#md-card-collapsible accordion=false}}
              {{#each containerList.lastSuccessful.value as |element|}}
                  {{#md-collapsible title=element.item.title class="result-element" badge=element.item.numberOfContainers}}
                    {{#draggable-object content=element.item}}
                      {{#if (eq element.type 'container-group')}}
                        {{container-group-component model = element.item}}
                      {{else if (eq element.type 'container-item')}}
                        {{container-component model = element.item}}
                      {{/if}}
                    {{/draggable-object}}
                  {{/md-collapsible}}
              {{/each}}
            {{/md-card-collapsible}}
          </div>
        {{else}}
          No containers to show
        {{/if}}
      {{/if}}

  {{/md-card-content}}
{{/md-card}}
