{{!-- Docker-compose editable content --}}
{{#md-card-content}}
  <div class="row">
    {{validated-input type="input" value=changeset.title label="Title" red=changeset.error.title}}
  </div>
  <div class="row">
    {{#draggable-object-target action="addDockerText" }}
      {{validated-input type='textarea' value=changeset.text label="Text" red=changeset.error.text}}
    {{/draggable-object-target}}
  </div>

  {{#if yamlError}}
      <p>Error</p>
      <span><strong>{{yamlErrorMessage}}</strong></span>
  {{/if}}

{{/md-card-content}}

{{!-- Actions on the editable content --}}
{{#md-card-action}}
  <div class="default-actions">
    {{md-btn text='Save' isDisabled=disabledSaveButton disabled=disabledSaveButton action='save'}}
    {{md-btn text='Cancel' isDisabled=disabledCancelButton disabled=disabledCancelButton action='cancel'}}
  </div>
  {{#if allowDelete}}
    <div class="delete-action">
      {{md-btn text='Delete' action='showDeleteDialog'}}
    </div>
  {{/if}}
  {{#if allowDownload}}
    <div class="default-actions">
      {{md-btn text='Download' action='download'}}
    </div>
  {{/if}}
{{/md-card-action}}
