<div class="collapsible-header {{if active 'active'}}" {{action "headerClicked"}}>
  {{#if draggableElement}}
    {{#draggable-object content=draggableElement}}
      {{md-collapsible-header title=title icon=icon iconPosition=iconPosition badge=badge}}
    {{/draggable-object}}
  {{else}}
    {{md-collapsible-header title=title icon=icon iconPosition=iconPosition badge=badge}}
  {{/if}}
</div>

<div class="collapsible-body">
  <p>{{yield}}</p>
</div>
